{:paths
 ["module/maestro/src/main/clj"]

 :tasks
 {aliases
  {:doc      "Print all aliases required for the given alias(es)"
   :requires ([protosens.maestro])
   :task     (protosens.maestro/task)}

  aliases:dev
  {:doc      "Like `aliases` but add extra aliases and profiles for dev and testing"
   :requires ([protosens.maestro])
   :task     (protosens.maestro/task {:maestro/alias+   [:task/dev]
                                      :maestro/profile+ ['dev
                                                         'test]})}

  aliases:test
  {:doc      "Like `aliases` but add extra aliases and profiles for testing"
   :requires ([protosens.maestro])
   :task     (protosens.maestro/task {:maestro/alias+   [:task/test]
                                      :maestro/profile+ [(with-meta 'test
                                                                    {:direct? true})]})}

  build
  {:doc      "Build the given alias"
   :requires ([protosens.maestro.plugin.build])
   :task     (protosens.maestro.plugin.build/task :tool/maestro)}

  deploy:clojars
  {:doc      "Deploy the given alias to Clojars"
   :requires ([protosens.maestro.plugin.deps-deploy])
   :task     (protosens.maestro.plugin.deps-deploy/clojars :ext/deps-deploy)}

  deploy:local
  {:doc      "Deploy the given alias to the local Maven repository"
   :requires ([protosens.maestro.plugin.deps-deploy])
   :task     (protosens.maestro.plugin.deps-deploy/local :ext/deps-deploy)}

  doc
  {:doc      "Print documentation for the given task"
   :requires ([protosens.maestro.doc])
   :task     (protosens.maestro.doc/task "doc/task")}

  lint
  {:doc      "Lint Clojure code throughout the whole repository"
   :requires ([protosens.maestro.plugin.clj-kondo])
   :task     (protosens.maestro.plugin.clj-kondo/lint)}

  lint:prepare
  {:doc      "Prepare for `lint`"
   :requires ([protosens.maestro.plugin.clj-kondo])
   :task     (protosens.maestro.plugin.clj-kondo/prepare)}

  pprint-cp
  {:doc      "Pretty-print the classpath received from STDIN"
   :requires ([protosens.maestro.classpath])
   :task     (protosens.maestro.classpath/pprint)}

  test
  {:doc      "Tests the given alias(es)"
   :requires ([protosens.maestro])
   :task     (clojure (str "-M"
                           (with-out-str
                             (protosens.maestro/task {:maestro/alias+   [:task/test]
                                                      :maestro/profile+ [(with-meta 'test
                                                                                    {:direct? true})]}))))}


  }}
