{:min-bb-version
 "0.8.0"


 ;; Required by the `doc:module` task.
 ;;
 :pods
 {clj-kondo/clj-kondo {:version "2023.12.15"}}


 ;;;;;


 :tasks
 {


  clean
  {:doc      "Deletes some temporary directories"
   :requires ([protosens.task.clean])
   :task     (protosens.task.clean/everything)}


  deps
  {:doc      "Prepares `deps.edn` for the given aliases"
   :requires ([protosens.task.deps])
   :task     (protosens.task.deps/sync)}


  deps:bb
  {:doc      "Syncs `bb.edn` with `bb.maestro.edn` and `deps.maestro.edn`"
   :requires ([protosens.maestro.plugin.bb])
   :task     (protosens.maestro.plugin.bb/sync :module/task)}


  deps:bb:check
  {:doc      "Checks if `bb.edn` is in sync with `bb.maestro.edn` and `deps.maestro.edn`"
   :requires ([protosens.maestro.plugin.bb])
   :task     (protosens.maestro.plugin.bb/check :module/task)}


  deps:new
  {:doc      "Searches for newest versions of external dependencies"
   :requires ([protosens.task.deps.new])
   :task     (protosens.task.deps.new/check)}


  deps:nvd
  {:doc      "Analyses dependencies from `deps.edn` for vulnerabilities (must contain `:ext/nvd-clojure`)"
   :requires ([protosens.task.deps.nvd])
   :task     (protosens.task.deps.nvd/check)}


  gitlib
  {:doc      "Generates custom `deps.edn` files for public modules"
   :requires ([protosens.maestro.plugin.gitlib])
   :task     (protosens.maestro.plugin.gitlib/expose)}


  gitlib:local
  {:doc      "Like `gitlib` but dependencies to other modules are expressed using file paths"
   :requires ([protosens.maestro.plugin.gitlib])
   :task     (protosens.maestro.plugin.gitlib/expose-local)}


  lint
  {:doc      "Lints `:paths` from `deps.edn` with Clj-kondo"
   :requires ([protosens.maestro.plugin.clj-kondo])
   :task     (protosens.maestro.plugin.clj-kondo/lint)}


  lint:prepare
  {:doc      "Prepares everything for `lint`"
   :requires ([protosens.maestro.plugin.clj-kondo])
   :task     (protosens.maestro.plugin.clj-kondo/prepare)}


  nrepl
  {:doc      "Runs `deps.edn` with an NREPL server (must contain `:ext/nrepl`)"
   :requires ([protosens.task.nrepl])
   :task     (protosens.task.nrepl/run)}


  quickdoc
  {:doc      "Generates API documentation for modules"
   :requires ([protosens.maestro.plugin.quickdoc])
   :task     (protosens.maestro.plugin.quickdoc/module+)}


  readme:listing
  {:doc      "Generates `./module/README.md`"
   :requires ([protosens.maestro.plugin.readme])
   :task     (protosens.maestro.plugin.readme/listing)}


  readme:module+
  {:doc      "Generates READMEs for all modules"
   :requires  ([protosens.maestro.plugin.readme])
   :task      (protosens.maestro.plugin.readme/module+)}


  release
  {:doc      "Prepares everything for a full release"
   :requires ([protosens.task.release])
   :task     (protosens.task.release/now)}


  shadow
  {:doc      "Runs Shadow-cljs from `deps.edn`"
   :requires ([protosens.task.shadow])
   :task     (protosens.task.shadow/run)}


  test:bb
  {:doc      "Tests current `:test/...` aliases on Babashka"
   :requires ([protosens.task.bb])
   :task     (protosens.task.bb/test)}


  test:browser:advanced
  {:doc      "Like `test:browser` but uses advanced compilation"
   :requires ([protosens.task.test.browser])
   :task     (protosens.task.test.browser/advanced)}


  test:browser:simple
  {:doc      "Tests current `deps.edn` in the browser with `:ext/shadow-cljs`"
   :requires ([protosens.task.test.browser])
   :task     (protosens.task.test.browser/simple)}


  test:browser:watch
  {:doc      "Like `test:browser` but in watch mode ; when ready, run `test:browser:open`"
   :requires ([protosens.task.test.browser])
   :task     (protosens.task.test.browser/watch)}


  test:headless
  {:doc      "Tests the output of `test:playwright:*` with all supported browsers"
   :requires ([protosens.task])
   :task     (protosens.task/shell ["./module/task/src/main/bash/test/headless/all.sh"])}


  test:headless:chromium
  {:doc      "Tests the output of `test:playwright:*` with Chromium"
   :requires ([protosens.task])
   :task     (protosens.task/shell ["./module/task/src/main/bash/test/headless/chromium.sh"])}


  test:headless:firefox
  {:doc      "Tests the output of `test:playwright:*` with Firefox"
   :requires ([protosens.task])
   :task     (protosens.task/shell ["./module/task/src/main/bash/test/headless/firefox.sh"])}


  test:headless:webkit
  {:doc      "Tests the output of `test:playwright:*` with Webkit"
   :requires ([protosens.task])
   :task     (protosens.task/shell ["./module/task/src/main/bash/test/headless/webkit.sh"])}


  test:node
  {:doc      "Tests the output of `test:node:*` tasks"
   :requires ([protosens.task.node])
   :task     (protosens.task.node/run "private/tmp/test/node.js")}


  test:node:advanced
  {:doc      "Like `test:node:compile` but uses advanced compilation"
   :requires ([protosens.task.test.node])
   :task     (protosens.task.test.node/advanced)}


  test:node:simple
  {:doc      "Compiles tests from `deps.edn` for Node with `:ext/shadow-cljs`"
   :requires ([protosens.task.test.node])
   :task     (protosens.task.test.node/simple)}


  test:node:watch
  {:doc      "Like `test:node` but runs tests in watch mode"
   :requires ([protosens.task.test.node])
   :task     (protosens.task.test.node/watch)}


  test:jvm
  {:doc      "Tests current `:test/...` aliases on the JVM"
   :requires ([protosens.task.test.jvm])
   :task     (protosens.task.test.jvm/run)}


  test:jvm:watch
  {:doc      "Like `test:jvm` but in watch mode"
   :requires ([protosens.task.test.jvm])
   :task     (protosens.task.test.jvm/run ["--watch"])}


  test:playwright:advanced
  {:doc      "Like `test:playwright:compile` but uses advanced compilation"
   :requires ([protosens.task.test.playwright])
   :task     (protosens.task.test.playwright/compile "release")}


  test:playwright:simple
  {:doc      "Compiles tests from `deps.edn` for headless browser testing with `test:headless:*` tasks"
   :requires ([protosens.task.test.playwright])
   :task     (protosens.task.test.playwright/compile "compile")}


  }}
