{
 
 ;; OPTIONS
 
 :maestro.plugin.build.path/exclude ["(?i)^META-INF/license/.*"
                                     "^license/.*"]
 :maestro.plugin.kaocha/path        "private/maestro-kaocha.edn"




 :aliases
 
 {
  
  ;; EXTERNAL DEPENDENCIES


  :ext/babashka.fs

  {:extra-deps  {babashka/fs {:mvn/version "0.1.11"}}
   :maestro/doc "Library for filesystem operations"
   :maestro/url "https://github.com/babashka/fs"}
  

  :ext/clojure.java.classpath

  {:extra-deps  {org.clojure/java.classpath {:mvn/version "1.0.0"}}
   :maestro/doc "Examining the Java classpath"
   :maestro/url "https://github.com/clojure/java.classpath"}


  :ext/clojure.tools.build

  {:extra-deps  {io.github.clojure/tools.build {:git/sha "0d20256"
                                                :git/tag "v0.8.3"}}
   :maestro/doc "Building jars and uberjars"
   :maestro/url "https://github.com/clojure/tools.build"}


  :ext/clojure.tools.namespace

  {:extra-deps  {org.clojure/tools.namespace {:mvn/version "1.3.0"}}
   :maestro/doc "Tools for managing namespaces"
   :maestro/url "https://github.com/clojure/tools.namespace"}


  :ext/criterium

  {:extra-deps  {criterium/criterium {:mvn/version "0.4.6"}}
   :maestro/doc "Benchmarking library"
   :maestro/url "https://github.com/hugoduncan/criterium"}


  :ext/deps-deploy

  {:extra-deps  {slipset/deps-deploy {:mvn/version "0.2.0"}}
   :maestro/doc "Deploying jars locally and to Clojars"
   :maestro/url "https://github.com/slipset/deps-deploy"}

  :ext/kaocha

  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.63.998"}}
   :maestro/doc "Test runner"
   :maestro/url "https://github.com/lambdaisland/kaocha"}




  ;; BUNDLES


  :bundle/test

  {:maestro/doc        "Bundles necessities for testing"
   :maestro/on-require [protosens.maestro.plugin.kaocha/prepare]
   :maestro/require    [:ext/kaocha]}




  ;; TASKS


  :task/build

  {:exec-fn         protosens.maestro.plugin.build/build
   :maestro/doc     "Uses `:module/maestro` for building jars and uberjars"
   :maestro/require [:tool/maestro]}


  :task/dev

  {:maestro/doc     "Provides what is commonly necessary during dev"
   :maestro/require [:bundle/test
                     :ext/criterium
                     :module/dev]}


  :task/test

  {:main-opts       ["-m" "kaocha.runner"
                     "--config-file" "kaocha.edn"]
   :maestro/doc     "Starts the test runner"
   :maestro/require [:bundle/test]}




  ;; MODULES


  :module/dev

  {:extra-paths     ["module/dev/src/main/clj"]
   :maestro/doc     "Dev utilities used in this repository"
   :maestro/root    "module/dev"
   :maestro/require [:module/maestro]}

  ;---

  :module/maestro

  {:extra-paths                         ["module/maestro/src/main"]
   :maestro/doc                         "Tools for managing a (mono)repo by leveraging `deps.edn`"
   :maestro/require                     [:ext/babashka.fs
                                         :ext/clojure.java.classpath
                                         :ext/clojure.tools.namespace
                                         {dev :tool/maestro}
                                         {test :test/maestro}]
   :maestro/root                        "module/maestro"
   :maestro.plugin.build/type           :jar
   :maestro.plugin.build.alias/artifact :release/maestro
   :maestro.plugin.build.path/output    "private/target/maestro.jar"}


  :release/maestro

  {:extra-deps      {com.protosens/maestro {:mvn/version "0.0.0-alpha0"}}
   :maestro/require [{test :test/maestro}]}


  :test/maestro

  {:extra-paths ["module/maestro/src/test"]}


  :tool/maestro

  {:maestro/doc     ["`:module/maestro` offers plugins for well-known tools and libraries without depending on them."
                     "This alias bundles it with all those optional dependencies."]
   :maestro/require [:ext/clojure.tools.build
                     :module/maestro]}


  }}
