{


 ;; OPTIONS FOR MAESTRO AND PLUGINS

 :maestro.plugin.gitlib/url       "https://github.com/protosens/monorepo.cljc"
 ,
 :maestro.plugin.quickdoc/option+ {:git/branch  "main"
                                   :github/repo "https://github.com/protosens/monorepo.cljc"
                                   :toc         true
                                   :var-links   true
                                   :var-pattern :wikilinks}
 ,
 :maestro.plugin.kaocha/path      "private/maestro-kaocha.edn"
 :maestro.plugin.kaocha/selector+ [:test/_]




 :aliases
 
 {


  ;; MODES


  :module

  {:maestro/doc     "Needed for activating `:module/...`"
   :maestro/require [:ext
                     :ext/clojure]}


  :dev

  {:maestro/doc     "Provides what is commonly useful during dev"
   :maestro/require [:ext
                     :module
                     :test
                     :ext/criterium
                     :ext/nrepl
                     :module/dev]}


  :test

  {:main-opts       ["-m" "kaocha.runner"
                     "--config-file" "kaocha.edn"]
   :maestro/doc     "Provides utilities for testing, notably Kaocha"
   :maestro/require [:ext
                     :module
                     :test.util
                     :ext/kaocha]}




  ;; EXTERNAL DEPENDENCIES


  :ext/antq

  {:extra-deps  {com.github.liquidz/antq {:mvn/version "2.8.1169"}}
   :maestro/doc "Finding latest versions of external dependencies"
   :maestro/url "https://github.com/liquidz/antq"}


  :ext/babashka.fs

  {:extra-deps  {babashka/fs {:mvn/version "0.5.20"}}
   :maestro/doc "Library for filesystem operations"
   :maestro/url "https://github.com/babashka/fs"}


  :ext/babashka.process

  {:extra-deps  {babashka/process {:mvn/version "0.5.21"}}
   :maestro/doc "Shelling out and spawning process.
                 JVM and BB compatible."
   :maestro/url "https://github.com/babashka/process"}


  :ext/clj-kondo

  {:extra-deps  {clj-kondo/clj-kondo {:mvn/version "2023.12.15"}}
   :maestro/doc "A linter for Clojure that sparks joy"
   :maestro/url "https://github.com/clj-kondo/clj-kondo"}


  :ext/clojure

  {:extra-deps  {org.clojure/clojure {:mvn/version "1.11.1"}}
   :maestro/doc "Ensures a specific version of Clojure"
   :maestro/url "https://github.com/clojure/clojure"}


  :ext/clojure.tools.build

  {:extra-deps  {io.github.clojure/tools.build {:git/sha "8e78bcc"
                                                :git/tag "v0.9.6"}}
   :maestro/doc "Building jars and uberjars"
   :maestro/url "https://github.com/clojure/tools.build"}


  :ext/criterium

  {:extra-deps  {criterium/criterium {:mvn/version "0.4.6"}}
   :maestro/doc "Benchmarking library"
   :maestro/url "https://github.com/hugoduncan/criterium"}


  :ext/kaocha

  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
   :maestro/doc "Test runner"
   :maestro/url "https://github.com/lambdaisland/kaocha"}


  :ext/nrepl
  {:extra-deps  {nrepl/nrepl {:mvn/version "1.1.0"}}
   :maestro/doc "Running NREPL."
   :maestro/url "https://github.com/nrepl/nrepl"
   :main-opts   ["-m" "nrepl.cmdline"
                 "-p" "14563"]}


  :ext/nvd-clojure

  {:extra-deps       {nvd-clojure/nvd-clojure {:mvn/version "3.6.0"}}
   :maestro/doc      "National Vulnerability Database dependency checker for Clojure projects"
   :maestro/flatten? false
   :maestro/url      "https://github.com/rm-hull/nvd-clojure"}


  :ext/portal

  {:extra-deps  {djblue/portal {:mvn/version "0.51.0"}}
   :maestro/doc "Clojure data explorer"
   :maestro/url "https://github.com/djblue/portal"}


  :ext/quickdoc

  {:extra-deps  {io.github.borkdude/quickdoc {:git/sha "d9ac51475ea46e1caf9b059f2a72ddfeeec6111c"}}
   :maestro/doc "Generating markdown documentation for Clojure namespaces
                 Works only with Babashka."
   :maestro/url "https://github.com/borkdude/quickdoc"}


  :ext/selmer

  {:extra-deps  {selmer/selmer {:mvn/version "1.12.59"}}
   :maestro/doc "A fast, Django inspired template system"
   :maestro/url "https://github.com/yogthos/selmer"}




  ;; MODULES


  :module/bench

  {:extra-paths                    ["module/bench/src/main/clj/"]
   :maestro/doc                    "Higher-level helpers for [Criterium](https://github.com/hugoduncan/criterium)."
   :maestro/experimental?          true
   :maestro/platform+              [:jvm]
   :maestro/require                [:ext/criterium]
   :maestro/root                   "module/bench/"
   :maestro.plugin.gitlib/name     protosens/bench
   :maestro.plugin.quickdoc/output "module/bench/doc/API.md"}

  ;---

  :module/classpath

  {:extra-paths                    ["module/classpath/src/main/clj/"]
   :maestro/doc                    "Classpath-related utilities."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:module/process
                                    :test/classpath]
   :maestro/root                   "module/classpath/"
   :maestro.plugin.gitlib/name     protosens/classpath
   :maestro.plugin.quickdoc/output "module/classpath/doc/API.md"}


  :test/classpath

  {:extra-paths     ["module/classpath/src/test/clj/"]
   :maestro/require [:module/classpath
                     :module/string]}

  ;---

  :module/calver

  {:extra-paths                    ["module/calver/src/main/clj/"]
   :maestro/doc                    "Version a repository using CalVer."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:test/calver]
   :maestro/root                   "module/calver/"
   :maestro.plugin.gitlib/name     protosens/calver
   :maestro.plugin.quickdoc/output "module/calver/doc/API.md"}


  :test/calver

  {:extra-paths     ["module/calver/src/test/clj/"]
   :maestro/require [:module/calver]}

  ;---

  :module/deps.edn

  {:extra-paths                    ["module/deps.edn/src/main/clj/"]
   :maestro/doc                    "Helpers for handling `deps.edn` files."
   :maestro/platform+              [:bb
                                    :jvm]
   :maestro/require                [:module/edn
                                    :module/namespace
                                    :test/deps.edn]
   :maestro/root                   "module/deps.edn/"
   :maestro.plugin.gitlib/name     protosens/deps.edn
   :maestro.plugin.quickdoc/output "module/deps.edn/doc/API.md"}


  :test/deps.edn

  {:extra-paths     ["module/deps.edn/src/test/clj/"]
   :maestro/require [:module/deps.edn]}

  ;---

  :module/dev

  {:extra-paths     ["module/dev/src/dev/clj/"]
   :maestro/doc     "Dev utilities used in this repository."
   :maestro/root    "module/dev/"
   :maestro/require [:ext/portal
                     :module/namespace
                     :module/symbol]}

  ;---

  :module/edn

  {:extra-paths                    ["module/edn/src/main/clj/"]
   :maestro/doc                    "One-liners for reading EDN."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:test/edn]
   :maestro/root                   "module/edn/"
   :maestro.plugin.gitlib/name     protosens/edn
   :maestro.plugin.quickdoc/output "module/edn/doc/API.md"}


  :test/edn

  {:extra-paths     ["module/edn/resrc/test/"
                     "module/edn/src/test/clj/"]
   :maestro/require [:module/edn]}

  ;---

  :module/git

  {:extra-paths                    ["module/git/src/main/clj/"]
   :maestro/doc                    "One-liners (or almost) for common Git operations."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:module/process
                                    :module/string
                                    :test/git]
   :maestro/root                   "module/git/"
   :maestro.plugin.gitlib/name     protosens/git
   :maestro.plugin.quickdoc/output "module/git/doc/API.md"}


  :test/git

  {:extra-paths     ["module/git/src/test/clj/"]
   :maestro/require [:ext/babashka.fs
                     :module/git]}

  ;---

  :module/graph.dfs

  {:extra-paths                    ["module/graph.dfs/src/main/clj/"]
   :maestro/doc                    "Depth-First Search."
   :maestro/plaform+               [:bb
                                    :jvm]
   :maestro/require                [:test/graph.dfs]
   :maestro/root                   "module/graph.dfs/"
   :maestro.plugin.gitlib/name     protosens/graph.dfs
   :maestro.plugin.quickdoc/output "module/graph.dfs/doc/API.md"}


  :test/graph.dfs

  {:extra-paths     ["module/graph.dfs/src/test/clj/"]
   :maestro/require [:module/graph.dfs]}

  ;---

  :module/maestro

  {:extra-paths                    ["module/maestro/src/main/clj/"]
   :maestro/doc                    "Maestro, calmly orchestrating your Clojure (mono)repo."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/babashka.fs
                                    :module/deps.edn
                                    :module/edn
                                    :module/git
                                    :module/graph.dfs
                                    :module/namespace
                                    :module/process
                                    :module/string
                                    :module/term.style
                                    :test/maestro]
   :maestro/root                   "module/maestro/"
   :maestro.plugin.gitlib/name     protosens/maestro
   :maestro.plugin.quickdoc/output "module/maestro/doc/API.md"}


  :test/maestro

  {:extra-paths     ["module/maestro/src/test/clj/"]
   :maestro/require [:module/maestro
                     :test.util/maestro]}


  :test.util/maestro

  {:extra-paths ["module/maestro/src/test.util/clj/"]}

  ;---

  :module/maestro.plugin.bb

  {:extra-paths                    ["module/maestro.plugin.bb/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for syncinc `deps.maestro.edn` with `bb.edn`."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:module/maestro
                                    :test/maestro.plugin.bb]
   :maestro/root                   "module/maestro.plugin.bb/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.bb
   :maestro.plugin.quickdoc/output "module/maestro.plugin.bb/doc/API.md"}


  :test/maestro.plugin.bb

  {:extra-paths     ["module/maestro.plugin.bb/src/test/clj/"]
   :maestro/require [:module/maestro.plugin.bb]}

  ;---

  :module/maestro.plugin.changelog

  {:extra-paths                    ["module/maestro.plugin.changelog/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for templating changelogs."
   :maestro/platform+              [:bb
                                    :jvm]
   :maestro/require                [:ext/selmer
                                    :module/maestro
                                    :test/maestro.plugin.changelog]
   :maestro/root                   "module/maestro.plugin.changelog/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.changelog
   :maestro.plugin.quickdoc/output "module/maestro.plugin.changelog/doc/API.md"}


  :test/maestro.plugin.changelog

  {:extra-paths     ["module/maestro.plugin.changelog/src/test/clj/"]
   :maestro/require [:module/maestro.plugin.changelog]}

  ;---

  :module/maestro.plugin.clj-kondo

  {:extra-paths                    ["module/maestro.plugin.clj-kondo/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for [Clj-kondo](https://github.com/clj-kondo/clj-kondo)."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/clj-kondo
                                    :module/classpath
                                    :module/maestro
                                    :module/term.style]
   :maestro/root                   "module/maestro.plugin.clj-kondo/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.clj-kondo
   :maestro.plugin.quickdoc/output "module/maestro.plugin.clj-kondo/doc/API.md"}

  ;---

  :module/maestro.plugin.gitlib

  {:extra-paths                    ["module/maestro.plugin.gitlib/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for exposing selected modules as Gitlibs."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/babashka.fs
                                    :module/git
                                    :module/maestro
                                    :test/maestro.plugin.gitlib]
   :maestro/root                   "module/maestro.plugin.gitlib/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.gitlib
   :maestro.plugin.quickdoc/output "module/maestro.plugin.gitlib/doc/API.md"}


  :test/maestro.plugin.gitlib

  {:extra-paths     ["module/maestro.plugin.gitlib/src/test/clj/"]
   :maestro/require [:module/maestro.plugin.gitlib
                     :test.util/maestro]}

  ;---

  :module/maestro.plugin.kaocha

  {:extra-paths                    ["module/maestro.plugin.kaocha/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for the [Kaocha](https://github.com/lambdaisland/kaocha) test runner."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/babashka.fs
                                    :ext/kaocha
                                    :module/maestro
                                    :test/maestro.plugin.kaocha]
   :maestro/root                   "module/maestro.plugin.kaocha/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.kaocha
   :maestro.plugin.quickdoc/output "module/maestro.plugin.kaocha/doc/API.md"}


  :test/maestro.plugin.kaocha

  {:extra-paths     ["module/maestro.plugin.kaocha/src/test/clj/"]
   :maestro/require [:ext/babashka.fs
                     :module/edn
                     :module/maestro.plugin.kaocha
                     :test.util/maestro]}

  ;---

  :module/maestro.plugin.quickdoc

  {:extra-paths                    ["module/maestro.plugin.quickdoc/src/main/clj/"]
   :maestro/doc                    "Maestro plugin for [Quickdoc](https://github.com/borkdude/quickdoc), the Markdown API generator."
   :maestro/platform+              [:bb
                                    :jvm]
   :maestro/require                [:ext/babashka.fs
                                    :ext/clj-kondo
                                    :ext/quickdoc
                                    :module/deps.edn
                                    :module/edn
                                    :module/maestro]
   :maestro/root                   "module/maestro.plugin.quickdoc/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.quickdoc
   :maestro.plugin.quickdoc/output "module/maestro.plugin.quickdoc/doc/API.md"}

  ;---

  :module/maestro.plugin.readme

  {:extra-paths                    ["module/maestro.plugin.readme/src/main/clj/"]
   :maestro/doc                    "Opinionated Maestro plugin for generating README files."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/babashka.fs
                                    :module/git
                                    :module/maestro
                                    :module/maestro.plugin.gitlib
                                    :module/string
                                    :test/maestro.plugin.readme]
   :maestro/root                   "module/maestro.plugin.readme/"
   :maestro.plugin.gitlib/name     protosens/maestro.plugin.readme
   :maestro.plugin.quickdoc/output "module/maestro.plugin.readme/doc/API.md"}


  :test/maestro.plugin.readme

  {:extra-paths     ["module/maestro.plugin.readme/src/test/clj/"]
   :maestro/require [:module/edn
                     :module/maestro.plugin.readme]}

  ;---

  :module/namespace

  {:extra-paths                    ["module/namespace/src/main/clj/"]
   :maestro/doc                    "Mainly about finding available namespaces."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/root                   "module/namespace/"
   :maestro/require                [:ext/babashka.fs
                                    :module/classpath
                                    :test/namespace]
   :maestro.plugin.gitlib/name     protosens/namespace
   :maestro.plugin.quickdoc/output "module/namespace/doc/API.md"}


  :test/namespace

  {:extra-paths     ["module/namespace/src/test/clj/"]
   :maestro/require [:module/namespace]}

  ;---

  :module/process

  {:extra-paths                    ["module/process/src/main/clj/"]
   :maestro/doc                    "Light wrapper over [`babashka/process`](https://github.com/babashka/process)."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:ext/babashka.process
                                    :test/process]
   :maestro/root                   "module/process/"
   :maestro.plugin.gitlib/name     protosens/process
   :maestro.plugin.quickdoc/output "module/process/doc/API.md"}


  :test/process

  {:extra-paths     ["module/process/src/test/clj/"]
   :maestro/require [:module/process]}

  ;---

  :module/string

  {:extra-paths                    ["module/string/src/main/clj/"]
   :maestro/doc                    "String manipulation library complementing [`clojure.string`](https://clojuredocs.org/clojure.string)."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/require                [:test/string]
   :maestro/root                   "module/string/"
   :maestro.plugin.gitlib/name     protosens/string
   :maestro.plugin.quickdoc/output "module/string/doc/API.md"}


  :test/string

  {:extra-paths     ["module/string/src/test/clj/"]
   :maestro/require [:module/string]}

  ;---

  :module/symbol

  {:extra-paths                    ["module/symbol/src/main/clj/"]
   :maestro/doc                    "Helpers for handling symbols."
   :maestro/platform+              [:bb
                                    :jvm]              
   :maestro/root                   "module/symbol/"
   :maestro/require                [:test/symbol]
   :maestro.plugin.gitlib/name     protosens/symbol
   :maestro.plugin.quickdoc/output "module/symbol/doc/API.md"}


  :test/symbol

  {:extra-paths     ["module/symbol/src/test/clj/"]
   :maestro/require [:module/symbol]}

  ;---

  :module/task

  {:extra-paths       ["module/task/src/main/clj/"]
   :maestro/doc       "Merges dependencies and paths for Babashka tasks."
   :maestro/platform+ [:bb
                       :jvm]
   :maestro/require   [:ext/kaocha
                       :module/calver
                       :module/classpath
                       :module/git
                       :module/maestro
                       :module/maestro.plugin.bb
                       :module/maestro.plugin.changelog
                       :module/maestro.plugin.clj-kondo
                       :module/maestro.plugin.gitlib
                       :module/maestro.plugin.kaocha
                       :module/maestro.plugin.quickdoc
                       :module/maestro.plugin.readme]
   :maestro/root      "module/task/"}

  ;---

  :module/term.style

  {:extra-paths                    ["module/term.style/src/main/clj/"]
   :maestro/doc                    "ANSI escape codes for beautiful terminal outputs."
   :maestro/platform+              [:bb
                                    :jvm]
   :maestro/root                   "module/term.style/"
   :maestro.plugin.gitlib/name     protosens/term.style
   :maestro.plugin.quickdoc/output "module/term.style/doc/API.md"}


  }}
