{:deps  true
 :nrepl {:port 14563}


;;;;;;;;;;


 :builds


 {:test/browser

  {:ns-regexp "protosens.test.*"
   :target    :browser-test
   :test-dir  "private/tmp/browser_test/"}


  :test/node

  {:autorun    true
   :ns-regexp  "protosens.test.*"
   :output-to  "private/tmp/test_node.js"
   :target     :node-test}}}
