{:deps  true
 :nrepl {:port 14563}


;;;;;;;;;;


 :builds


 {:test/browser

  {:ns-regexp "protosens.test.*"
   :target    :browser-test
   :test-dir  "private/tmp/test/browser/"}


  :test/node

  {:ns-regexp  "protosens.test.*"
   :output-to  "private/tmp/test/node.js"
   :target     :node-test}


  :test/playwright
  {:ns-regexp "protosens.test.*"
   :runner-ns protosens.shadow.runner.log
   :target    :browser-test
   :test-dir  "private/tmp/test/playwright/"}}}
